<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ubosqueprg</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">gonzalo150298</property>
		<property name="hibernate.connection.pool_size">100</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	
			<mapping class="com.unbosque.edu.co.calendarioFifa.entity.User" />
			<mapping class="com.unbosque.edu.co.calendarioFifa.entity.Team" /> 
			<mapping class="com.unbosque.edu.co.calendarioFifa.entity.Stadium" /> 
			<mapping class="com.unbosque.edu.co.calendarioFifa.entity.Schedule" /> 
			<mapping class="com.unbosque.edu.co.calendarioFifa.entity.Referee" /> 
			<mapping class="com.unbosque.edu.co.calendarioFifa.entity.Parameter" /> 
			<mapping class="com.unbosque.edu.co.calendarioFifa.entity.New" /> 
			<mapping class="com.unbosque.edu.co.calendarioFifa.entity.Goalscorer" /> 
			<mapping class="com.unbosque.edu.co.calendarioFifa.entity.Audit" /> 
	</session-factory>
</hibernate-configuration>